[Desktop Entry]
Type=Application
Terminal=false
Icon=medelexis-logo
Name={{app.human_name}}
Exec=/usr/local/bin/medelexis-3.1-beta
Categories=MEDICALSOFTWARE;OFFICE;
